@charset "utf-8";

*{  margin:0;
    padding:0;
    box-sizing:border-box;}

html,body{
    margin:0;

}

ul,li{
    list-style-position: inside;
    list-style-type:none;
    padding: 0%;
    margin:0;
}
h1,h2,p{margin:0;
}
label{
    display:inline-block;
    width:100%;
}
a{text-decoration: none;
}
img{
    vertical-align:top;
}

header{ 
    padding:10px 0;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index:2;
}
.menu{
    width:80%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu>h1{width:20%}
.menu>h1>a>img{
    width:92px;
}

.menu>nav>ul{
    display: flex;
}
.menu>nav>ul>li{
    position: relative;
    font-size:15px;
    color:#fff; padding-right: 10px;
}
.menu>nav>ul>li>a{
    display:inline-block;
    padding:15px 20px;
    color:rgb(200, 200, 200);
    font-size: 20px;
    transition: all 0.3s linear; 
}

.menu>nav>ul>li>a:hover{
    color:#fff;
    font-weight: bold;
}
nav>a::after{
    content: '';
    display: block;
    border: 2px solid #7E7A7A;
    width: 0;
    margin:5px auto;
    transition:.5s;
    opacity:0 ;
}
.menu>div{width:20%;}
.menu>div>div{
    display:block;
}
.menu>div>div>input{
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    vertical-align: bottom;
}
.menu>div>div>input:focus{
    outline: none;
}

.menu>div>div>button>img{
    width:30px;
}
.menu>div>div>a>img{
    width:30px;
    margin-left:10px;
}
.sub{
    width:100%;
    position: absolute;
    left:0; bottom:0;
    background-color: #242424;
    opacity: 0.9;
    transform: translateY(99%);
    text-align: center;
}

.sub > div{
    display:none;
    width:1200px;
    margin:0 auto;
    padding:1% 0;
    text-align: center;
}

.sub>div>span:nth-child(1)>a:nth-child(1){border-bottom:0.1px solid #ddd;}
.sub>div:nth-child(1) a{ text-align: left; display:block; padding:0; margin-top:1px;}
.sub>div span{display: inline-block; vertical-align: top; padding:0 3%;}
.sub>div a{
    display:inline-block;
    padding:0 3%;
    
    line-height: 2;
    color:#ddd;
}

main{
    width:100%;
    margin:0 auto;
    padding:0;
    position: relative;
}
.slide{
    display: flex;
    align-items: center;
    width:100%;
    
}
.visual{
    width:100%;
    height:880px;
    margin:0 auto;
}
.main-txt{
    width:730px;
    position: absolute;
}
.main-txt>p:nth-child(1){
    position: absolute;
    left:26%;
    bottom: 150px;  
    font-size: 30px;
    color:#ffffff;
    width:465px;
}
.main-txt>p:nth-child(2){
    position: absolute;
    bottom:10px;
    height:120px;
    left:26%;
    line-height: 40px;
    font-size: 20px;
    color:#ebebeb;
    width:700px;
    text-align: left;
}
.main-txt>p:nth-child(3){
    position: absolute;
    top:350px;
    left:80%;
    font-size: 18px;
    color:#d8d8d8;
    width:830px;
    text-shadow:1px 1px 1px #000;
}

.main-txt>p:nth-child(3)>img{
    width:20px;
}

.main-menu{
    width:100%;
    height:70px;
    background-color: #686868;
}
.main-menu>nav>ul{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: space-evenly;
    font-size:28px;
    padding-top: 10px;
}

.main-menu>nav>ul>li>a{
    display:inline-block;
    padding:0 20px;
    color:rgba(146, 146, 146, 0.4); 
}
.main-menu>nav>ul>li>a:hover{
    color:#000;
    font-weight: bold;
}
.main-menu>nav>ul>li>a::after{
    content:'';
    display:block;
    border:1px solid #000;
    width:0;
    margin:5px auto;
    transition: .5s;
    opacity:0;
}
.main-menu>nav>ul>li>a:hover::after{
    width:100%;
    opacity:1;
}

.ex1{
    position: relative;
    width:100%;
    margin: 0 auto;
    padding:0;
}
.ex1>nav>ul>li>h2{
    position: absolute;
    font-size:30px;
    left:10%;
    width:250px;
    color:#404040;
    margin-top: 20px;
}
.ex1>nav>ul>li:nth-of-type(1)>p{
    position: absolute;
    font-size:20px;
    left:10%;
    color:#505050;
    line-height: 40px;
    width:450px;
    margin-top: 100px;
}
.ex1>nav>ul{
    display: flex;
    justify-content: space-between;
}
.ex1>nav>ul>li:nth-of-type(1)>a{
    position:absolute;
    font-size: 18px;
    color:#505050;
    width:200px;
    left:10%;
    margin-top:220px;
}
.ex1>nav>ul>li:nth-of-type(1)>a>img{
    width:20px;
    margin-left: 10px;
}

.ex1>nav>ul>li:nth-of-type(2)>img{
    width:960px;
}

.ex2{
    position: relative;
    width:80%;
    margin:0 auto;
    padding:0;
}
.ex2-txt>h2{
    margin-top: 100px;
    font-size: 30px;
    color:#404040;
}

.ex2>nav>ul{
    display: flex;
    justify-content:space-between;
}
.ex2>nav:nth-of-type(1){
    margin:0 auto;
    margin-top:50px;
    width:1350px;
    font-size: 18px;
    color:#777777;
    padding-bottom: 10px;
    border-bottom: 1px solid #7777;
}
.ex2>h3{
    margin:0 auto;
    font-size:25px;
    color:#505050;
    width:135px;
    margin-top: 70px;
}
.ex2>nav{
    width:1350px;
    margin: 0 auto;
}
.ex2>nav:nth-of-type(2)>ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 200px;
}
.ex2>nav:nth-of-type(2)>ul>li{
    width:400px;
    display: flex;
    margin-top: 100px;
}
.ex2>nav:nth-of-type(2)>ul>li>div{
    display: flex;
    flex-wrap: wrap ;
    width:400px;
}
.ex2>nav:nth-of-type(2)>ul>li>img{
    width:40px; 
}

.ex2>nav:nth-of-type(2)>ul>li>div>p{
    width:350px;
    margin-left: 10px;
}
.ex2>nav:nth-of-type(2)>ul>li>div>p:nth-of-type(1){
    font-size:15px;
    color:rgb(44, 44, 44);
}

.ex2>nav:nth-of-type(2)>ul>li>div>p:nth-of-type(2){
    font-size:12px;
    color:#505050;
}
.ex2-arrow{
    position: absolute;
    bottom: 70px;
    width:100%;
}
.ex2-arrow>ul{
    display: flex;
    justify-content: space-between;
}
.ex2-arrow>ul>li>img{
    height:40px;
}


.fixed{
    position: fixed;
    z-index: 9999;
    margin:0 auto;
    width:60px; height:60px;
    right:3%; bottom:10%;
}
.fixed > div{
    position: absolute;
    left:0; top:0;
}
.fixed > div img{width:100%;}

.fixed > div:nth-child(2){
    transform: translateY(0%);
    z-index: -2;
    transition: all 0.2s linear;
}
.fixed:hover > div:nth-child(2){
    transform: translateY(-260%);
}
.fixed > div:nth-child(3){
    transform: translateY(0%);
    z-index: -1;
    transition: all 0.2s linear;
}
.fixed:hover > div:nth-child(3){
    transform: translateY(-130%);
}


footer{
    position:relative;
    width:100%;
}
.underbar{
    width:100%;
    height: 60px;
    background-color: #4F4C4C;
    margin:0 auto;
    display:flex;
    justify-content:0;
    align-items: center;
}
.txt-u>p{
    width: 200px;
    font-size: 15px;
    color:#fff;
    margin-left:190px;
}

.chart{
    width:100%;
    height: 870px;
    background-color: #000000;
    margin:0 auto;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.nation{
    display:flex;
    width:80%;
    margin-top: 130px;
    justify-content: space-between;
    align-items: flex-start;
}

.txt-c>p{
    font-size:20px;
    color:#fff;
    width:90px;
    padding-bottom: 50px;;
}
.txt-c>a{
    font-size:20px;
    color:#fff;
    width:40px;
}
.txt-c>a>img{
    width:25px;
    transform:translateY(8px) translateX(15px);
}
.nation>nav>ul{
    display:flex;
}

.chart-1>a{
    transition: all 0.3s linear; 
}
.chart-1>a:hover{
    color:#999999;
}

.chart-1{
    width:300px;
    font-size:20px;
}
.chart-2{
    width:305px;
    font-size:20px;
}

.chart-1>a{
    display: block;
    padding:5px;
    color:#fff;

}
.chart-2>a{
    display: block;
    padding:5px;
    color:#999999;
}
.nation>ul{
    display: flex;
}

.footer-2{
    width:80%;
    height:150px;
    margin-top:180px;
    padding-top:10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid rgb(190, 190, 190);
}

.footer-button{
    display:flex;
    width:220px;
    margin-right:480px; 
    justify-content: space-between;
    align-items:flex;
}
.footer-button>a{
    width:40px;
    padding-top: 3px;
}
.footer-button>a>img{
    width:40px;
}
.down-txt{
    width:600px;    
    font-size:15px;
    color:rgb(190, 190, 190);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.down-txt>p{
    width:600px;
    margin-bottom:10px;
}
