@charset "utf-8";

*{  margin:0;
    padding:0;
    box-sizing:border-box;}

html,body{
    margin:0;
    
}

ul,li{
    list-style-position: inside;
    list-style-type:none;
    padding: 0%;
    margin:0;
}
h1,h2,p{margin:0;
}
label{
    display:inline-block;
    width:100%;
}
a{text-decoration: none;
}
img{
    vertical-align:top;
}
    
header{ 
    padding:10px 0;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index:2;
}
.menu{
    width:80%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu>h1{width:20%}
.menu>h1>a>img{
    width:92px;
}

.menu>nav>ul{
    display: flex;
}
.menu>nav>ul>li{
    position: relative;
    font-size:15px;
    color:#fff; padding-right: 10px;
}
.menu>nav>ul>li>a{
    display:inline-block;
    padding:15px 20px;
    color:rgb(200, 200, 200);
    font-size: 20px;
    transition: all 0.3s linear;
}
.menu>nav>ul>li>a:hover{
    color:#fff;
    font-weight: bold;
}
nav>a::after{
    content: '';
    display: block;
    border: 2px solid #7E7A7A;
    width: 0;
    margin:5px auto;
    transition:.5s;
    opacity:0 ;
}
/* .menu>nav>ul>li{
    width:100%;
} */
/* .menu>nav>ul>li>div{
    position:absolute;
    left: 0; bottom:0;
    transform:translateY(100%);
    width:100%;
    background-color:#242424;
    padding:20px;
    display: none;
}
/* .menu>nav>ul>nav>li>a>span{
    display:block;
    width:20px;
    border-top:2px solid #fff;
    margin:5px 0;
} */
/* .menu>nav>ul>li>div>a{color:#fff;} */ */
.menu>div{width:20%;}
.menu>div>div{
    display:block;
}
.menu>div>div>input{
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    vertical-align: bottom;
}
.menu>div>div>input:focus{
    outline: none;
}


.menu>div>div>button>img{
    width:30px;
}
.menu>div>div>a>img{
    width:30px;
    margin-left:10px;
}



/*메뉴 설명 http://jsfiddle.net/kornim/SRV36/ */



.sub{
    width:100%;
    position: absolute;
    left:0; bottom:0;
    background-color: #242424;
    opacity: 0.9;
    transform: translateY(99%);
    text-align: center;
}

.sub > div{
    display:none;
    width:1200px;
    margin:0 auto;
    padding:1% 0;
    text-align: center;
}

.sub>div>span:nth-child(1)>a:nth-child(1){border-bottom:0.1px solid #ddd;}
.sub>div:nth-child(1) a{ text-align: left; display:block; padding:0; margin-top:1px;}
.sub>div span{display: inline-block; vertical-align: top; padding:0 3%;}
.sub>div a{
    display:inline-block;
    padding:0 3%;
    
    line-height: 2;
    color:#ddd;
}

@media screen and (max-width:100px){
    
}
@media screen and (min-width:100px)and(max-width:200px){}
@media screen and (min-width:200px){}


main{
    width:100%;
    margin:0 auto;
    padding:0;
    position: relative;
}


.main-txt>p{
    position: absolute;
    bottom:600px;
    height:200px;
    left:10%;
    top: 300px;
    line-height: 55px;
    font-size: 30px;
    color:#505050;
    font-weight: 500;
    width:580px;
}
.main-txt>a{
    position: absolute;
    color: #242424;
    bottom: 520px;
    left:10%;
    top:450px;
    height:50px;
}
.main-txt>a>img{
    position: absolute;
    width:10px;
    height: 15px;
    left:100px;
    top:4px;
    opacity:0.8;
}
.arrow{
    width:1800px;
    display: flex;
    margin:0 auto; 
    opacity: 0.5;
    align-items: center;
    justify-content: space-between;
    transform:translateY(-770%) ;
}

.arrow>a:nth-child(1)>img{
    width:30px;
    
}
.arrow>a:nth-child(2)>img{
    width:30px;
}
.indi{
    transform:translateY(-500%) ;
    width:200px;
    margin:0 auto;
}
.indi-1{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.indi-1>li>div>img{
    width:15px;
    
}
.main-button{
    width:80%;
    margin:160px auto;
    padding:0;
    text-align: center;
}
.main-button>div>h2{
    width:150px;
    display: flex;
    font-size: 30px;
    color:#505050;
    
}
.buttons{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.buttons>li{
    width:25%;
    position: relative;
}

.buttons>li>div{   
    width:100%;
}
.buttons>li>div>a{   
    font-size:20px;
    color:#7E7A7A;
    transition: all 0.2s linear;
}
.buttons>li>div>a>img{
    width:100%;
    transition: all 0.2s linear;
}
.buttons>li:hover>div>a>img{
    transform:scale(1.1);
}
.buttons>li:hover>div>a{
    color:rgb(32, 120, 251);
}

.buttons>li::after{
    content: "";
    margin-left:390px;
    width:0px;
    display: block;
    border-right: 2px solid #505050;
    height: 400px;
    opacity: 0.3;
    position: absolute; right:0; top:20%;
}

.buttons>li:nth-child(4):after{
    display: none;
}


/*a 태그가 링크의 요소로 잇으면 div 태그로 묶을수 있음*/
.main-txt2{
    display: flex;
    width:100%;
    height:700px;
}
.main-txt2-1{
    position:relative;
    align-items: center;
}
.main-txt2-1>h2{
font-size: 30px;
position: absolute ;
color:#7E7A7A;
left:190px;
bottom:550px;
}
.main-txt2-1>h3{
    font-size:30px;
    width:300px;
    color:#ffff;
    position: absolute;
    bottom:800px;
    left:190px;
    bottom: 450px;
}
.main-txt2-1>p{
    position: absolute;
    font-size:18px;
    color:#ffff;
    left:190px;    
    width:420px;
    bottom:350px;
    line-height: 30px;
}

.main-txt2-1>a{
    font-size:18px;
    color:#ffff;
    width:150px;
    position:absolute;
    left:190px;
    bottom: 300px;
}

.main-txt2-1>a>img{
    position: absolute;
    width:10px;
    height: 15px;
    left:110px;
    bottom:4px;
}
.round{
    width:60px;
    margin:0 auto;
}
.round-1{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.round-1>li{
    transform: translateY(640px) translateX(925px);
}
.round-1>li>div>img{
    width:15px;
    opacity:0.6 ;
}

.fixed{
    position: fixed;
    z-index: 9999;
    margin:0 auto;
    width:60px; height:60px;
    right:3%; bottom:10%;
}
.fixed > div{
    position: absolute;
    left:0; top:0;
}
.fixed > div img{width:100%}

.fixed > div:nth-child(2){
    transform: translateY(0%);
    z-index: -2;
    transition: all 0.2s linear;
}
.fixed:hover > div:nth-child(2){
    transform: translateY(-260%);
}
.fixed > div:nth-child(3){
    transform: translateY(0%);
    z-index: -1;
    transition: all 0.2s linear;
}
.fixed:hover > div:nth-child(3){
    transform: translateY(-130%);
}





footer{
    position:relative;
    width:100%;
}
.underbar{
    width:100%;
    height: 100px;
    background-color: #4F4C4C;
    margin:0 auto;
    align-items: center;
}
.grab{
    width:80%;
    height:100px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.txt-u>h2{
    width: 150px;
    font-size: 25px;
    color:#fff;
}
.grab>nav>ul{
    display:flex;
    align-items: center;
}
.grab>nav>ul>li{
    text-align: left;
}
.under-1{
    width:355px;
    padding-left:50px;
}
.under-2{
    width:160px;
    padding-left:50px;
}
.under-3{
    width:228px;
    padding-left:50px;
}
.under-1>a{
    display: flex;
    font-size:20px;
    color:#fff;
    align-items: center;
    width:355px;
}
.under-2>a{
    display: flex;
    font-size:20px;
    color:#fff;
    align-items: center;
    width:160px;
}
.under-3>a{
    display: flex;
    font-size:20px;
    color:#fff;
    align-items: center;
    width:228px;
}

.under-1>a>img{
    width:50px;
    margin-right: 10px;
}

.under-2>a>img{
    width:50px;
    margin-right: 10px;
}
.under-3>a>img{
    width:50px;
    margin-right: 10px;
}






.chart{
    width:100%;
    height: 870px;
    background-color: #000000;
    margin:0 auto;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.nation{
    display:flex;
    width:80%;
    margin-top: 130px;
    justify-content: space-between;
    align-items: flex-start;
}

.txt-c>p{
    font-size:20px;
    color:#fff;
    width:90px;
    padding-bottom: 50px;;
}
.txt-c>a{
    font-size:20px;
    color:#fff;
    width:40px;
}
.txt-c>a>img{
    width:25px;
    transform:translateY(8px) translateX(15px);
}
.nation>nav>ul{
    display:flex;
}

.chart-1{
    width:300px;
    font-size:20px;
}
.chart-2{
    width:305px;
    font-size:20px;
}

.chart-1>a{
    display: block;
    padding:5px;
    color:#fff;

}
.chart-2>a{
    display: block;
    padding:5px;
    color:#999999;
}
.nation>ul{
    display: flex;
}
.chart-1>a{
    transition: all 0.3s linear; 
}
.chart-1>a:hover{
    color:#999999;
}

.footer-2{
    width:80%;
    height:150px;
    margin-top:180px;
    padding-top:10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid rgb(190, 190, 190);
}

.footer-button{
    display:flex;
    width:220px;
    margin-right:480px; 
    justify-content: space-between;
    align-items:flex;
}
.footer-button>a{
    width:40px;
    padding-top: 3px;
}
.footer-button>a>img{
    width:40px;
}
.down-txt{
    width:600px;    
    font-size:15px;
    color:rgb(190, 190, 190);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.down-txt>p{
    width:600px;
    margin-bottom:10px;
}




/*
    background-color:black;
    z-index: -1;
.menu-b{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nation{
    transform: translateY(50%) translateX(250%);
    width:100px;
}
.nation>p{
    color:#fff;
    font-size: 20px;
    margin-bottom: 50px;
}
.nation>a{
    color:#fff;
    font-size:20px; 
    
}
.nation>a>img{
    transform: translateY(90%) translateX(10%);
    width:20px;
}
.chart-1{
    display:inline-block;
    width:10%;
    font-size:20px;
    line-height: 2;
    color:#fff;
    transform: translateY(50%) translateX(570%) ;
}
.chart-2{
    display:inline-block;
    width:10%;
    font-size:20px;
    line-height:2;
    color:#fff;
    transform: translateY(50%) translateX(640%);
}
.chart-1>a{
    color:#fff;
}
.chart-2>a{
    color:#fff;
}
.menu-b>hr{
    border:1px solid #ffffff;
    width:1600px;
    transform: translateY(21800%) translateX(-15%);
}
.footer-button{
    display:flex;
    justify-content: center;
}
.footer-button>a>img{
    width:50px;
    padding-right: 10px;
    transform: translateY(700%) translateX(-1260%);

}
.down-txt{
    width:700px;
    height:150px;
    color:#fff;
    display:inline-block;
    font-size:15px; 

}
.down-txt>p{
    transform:translateX(1090px) translateY(240px);
}
.down-txt>p:nth-child(1){
    padding-bottom: 10px;
}
.down-txt>p:nth-child(2){
    padding-bottom: 10px;
    line-height:25px;
}
.down-txt>p:nth-child(3){
    line-height:25px;
} */




/* 

[name="slide"]{display:none;}
.slidebox{
    max-width:1920px;
    width:100%;
    margin:0 auto;
}
.sildebox img{
    max-width:100%;
}
.slidebox .slidelist{
    white-space:nowrap;
    font-size:0;
    overflow:hidden;
}
.slidebox .slideitem label{
    position: relative;
    display:inline-block;
    vertical-align: middle;
    width:100%;
    transition:all .35s;
}
.slidebox .slideitem label{
    position: absolute;
    z-index:1;
    top:50%;
    transform:translateY(-50%);
    padding:20px;
    border-radius:50%;
    cursor:pointer;
}
label.left{
    left:20px;

    background-position:center center;
    background-size:50%;
    background-repeat: no-repeat;
}
label.right{
    left:20px;
    background-image:url('./img/right arrow icon.png');
    background-position:center center;
    background-size:50%;
    background-repeat: no-repeat;
} */
