@charset "utf-8";

@import url('./dyson.css');

.slide figure img{margin-top: 70px;}
.slide{
    width:100%  ;
    margin:0 auto;


    /* 고정값 */
    position: relative;            
    /* 배너, 버튼, 인디게이터 모든 요소들의 최상위 부모 */
}
.slide .slick-list{  
    /* 배너들의 상위요소 */
    overflow:hidden;  
}
/* .slide .slick-track{
    /* 배너 그룹 및 translateX값으로 이동(스크립트)
} */
.slide .slick-track::after{
    content:'';
    display:block;
    clear: both;
}
.slide .slick-slide{
    /* 개별 배너 */
    margin:0; 
    width:100%;
    float:left;
}
.slide .slick-slide  img{width:100%;}

/* next prev */           
.slide .slick-prev{
    position: absolute;
    left:0%; top:50%;
    z-index: 2;
}
.slide .slick-next{
    position: absolute;
    right:0; top:50%;
    z-index: 2;
}

/* dots */
.slide .slick-dots{
    position: absolute;
    left:0; bottom:5%;
    width:100%;
    text-align: center;

    list-style-type: none;
    padding:0;
}
.slide .slick-dots li{display: inline-block;}
.slide .slick-dots li button{
    width:15px; height:15px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    border:none;
    font-size:0;
    margin:0 10px;
    margin-bottom: 0px;
}
.slide .slick-dots li.slick-active button{
    background-color: rgb(167, 167, 167);
}

.slide figure{
    position:relative;
}
.slide figure p:nth-of-type(1){
    width:300px;
    color:rgb(70, 70, 70);
    position: absolute;
    top:22%;
    left:10%;
}
.slide figure p:nth-of-type(1) b{
    font-size:33px;
}
.slide figure p:nth-of-type(2){
    position: absolute;
    color:#5a5a5a;
    font-size:25px;
    top:30%;
    width:600px;
    line-height: 40px;
    left:10%;
}
.slide figure a{
    font-size: 18px;
    color:#505050;
    position: absolute;
    left:10%;
    top:42%;
}
.slide  figure  a  img{
    width:10px !important;
    margin-top: 3px;
    opacity:0.6;
}
.slide button .slick-prev .slick-arrow{
    width:100px;
    background: url('') no-repeat;
    background:url("./img/left arrow icon.png");
    z-index: 1;
}
.slide button .slick-next .slick-arrow{
    background-image:url("./img/right arrow icon.png");
    z-index: 1;
}

.slide > figure:nth-of-type(1) >  p:nth-of-type(1){
    position:absolute;
    font-size: 30px;
}

.slide .slick-prev{
    background:url('../img/left arrow slide icon.png');
    background-size: 30px;
    width:32px;
    height: 58px;
    border: none;
    background-repeat: no-repeat;
    font-size: 0px;
    opacity:0;
    margin-left: 30px;
    top:46%; 
    transition: all 0.3s linear;    
}
.slide .slick-prev:hover{
    opacity: 0.5;
}
.slide .slick-next{
    background:url('../img/right arrow slide icon.png');
    background-size: 30px;
    width:32px;
    height: 58px;
    border: none;
    background-repeat: no-repeat;
    font-size: 0px;
    opacity:0;
    margin-right: 30px;
    top: 46%;
    transition: all 0.3s linear;    
}
.slide .slick-next:hover{
    opacity: 0.5;
}







.slide-warp1{
    margin:0 auto;
    width:100%;
}
.slide-warp1 h2{
    width:100px;
    position: absolute;
    color:rgb(120, 120, 120);
    top:72%;
    left:10%;
    z-index:1;
}

/* .slide1 figure img{
    
} */
.slide1{
    width:100%  ;
    margin:0 auto;


    /* 고정값 */
    position: relative;            
    /* 배너, 버튼, 인디게이터 모든 요소들의 최상위 부모 */
}
.slide1 .slick-list{  
    /* 배너들의 상위요소 */
    overflow:hidden;  
}
/* .slide1 .slick-track{
    /* 배너 그룹 및 translateX값으로 이동(스크립트)
} */
.slide1 .slick-track::after{
    content:'';
    display:block;
    clear: both;
}
.slide1 .slick-slide{
    /* 개별 배너 */
    margin:0; 
    width:100%;
    float:left;
}
.slide1 .slick-slide  img{width:100%;}

/* next prev */           
.slide1 .slick-prev{
    position: absolute;
    left:0%; top:50%;
    z-index: 2;
}
.slide1 .slick-next{
    position: absolute;
    right:0; top:50%;
    z-index: 2;
}

/* dots */
.slide1 .slick-dots{
    position: absolute;
    left:0; bottom:5%;
    width:100%;
    text-align: center;

    list-style-type: none;
    padding:0;
}
.slide1 .slick-dots li{display: inline-block;}
.slide1 .slick-dots li button{
    width:15px; height:15px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    border:none;
    font-size:0;
    margin:0 10px;
    margin-bottom: 0px;
}
.slide1 .slick-dots li.slick-active button{
    background-color: rgb(167, 167, 167);
}

.slide1 figure{
    position:relative;
}
.slide1 h3{
    position: absolute;
    top:18%;
    color:rgb(100, 100, 100);
    left:10%;
    font-size:25px;
}

.slide1 figure p{   
    width:430px;
    color:rgb(100, 100, 100);
    position: absolute;
    top:30%;
    left:10%;
    line-height:35px;
    font-size:18px;
}
.slide1 figure a{
    font-size: 15px;
    color:rgb(100, 100, 100);
    position: absolute;
    left:10%;
    top:50%;
    
}
.slide1  figure  a  img{
    width:8px !important;
    margin-top: 3px;
    margin-left:10px;
    opacity:0.6;
}
.slide1 button .slick-prev .slick-arrow{
    width:100px;
    background: url('') no-repeat;
    background:url("./img/left arrow icon.png");
    z-index: 1;
}
.slide1 button .slick-next .slick-arrow{
    background-image:url("./img/right arrow icon.png");
    z-index: 1;
}

.slide1 > figure:nth-of-type(1) >  p:nth-of-type(1){
    position:absolute;
    font-size: 30px;
}

.slide1 .slick-prev{
    background:url('../img/left arrow slide icon.png');
    background-size: 30px;
    width:32px;
    height: 58px;
    border: none;
    background-repeat: no-repeat;
    font-size: 0px;
    opacity:0;
    margin-left: 30px;
    top:46%;   
    transition: all 0.3s linear; 
}
.slide1 .slick-prev:hover{
    opacity: 0.5;
}
.slide1 .slick-next{
    background:url('../img/right arrow slide icon.png');
    background-size: 30px;
    width:32px;
    height: 58px;
    border: none;
    background-repeat: no-repeat;
    font-size: 0px;
    opacity:0;
    margin-right: 30px;
    top: 46%;
    transition: all 0.3s linear; 
}
.slide1 .slick-next:hover{
    opacity: 0.5;
}









.main-img {
    display: flex;
    z-index: -1;
    overflow: hidden;
    margin: 0 auto;
}

.main-img>img {
    width: 100%;
}



.main-img2 {
    margin: 0 auto;
}

.main-img2>img {
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}




.main-icon {
    width: 100%;
    margin: 0 auto;
    padding:50px 0 50px 0;
}

.main-icon>ul {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.icon-img>div>a {
    display: flex;
    align-items: center;
    text-align: center;
    color:#5a5a5a;
    font-weight:bold;
    font-size: 20px;
    
}

.icon-img>div>a>img {
    left: 0;
    right: 0;
    font-size: 30px;
    color: #404040;
    width: 80px;
    margin-right: 10px;
}

.icon-img>div>p {
    font-size: 20px;
    color: #404040;
    width: 160px;
    left: 100px;
    top: 25px;
}

.arrow2 {
    position: absolute;
    opacity: 0.5;
    width: 30px;
}

.arrow2>a>img {
    position: absolute;
    left: 1820px;
    bottom: -380px;
    width: 30px;
}




















/*포지션 absolute 나 fixed를 가지고 있으면  margin 0 auto가 먹히지 않는다(쓸필요X)*/

/* .main-button>ul>li>div>a{
    display: inline-block;
    font-size: 20px;
    color:#7E7A7A;
}
.main-button>ul>li>div>a>img{
    position: absolute;
    width:300px;
    top:1150px;
}
.buttons:nth-child(1)>div>a>img{
    position: absolute;
    left:150px;
}
.buttons:nth-child(2)>div>a>img{
    position: absolute;
    left:1000px;
}
.buttons:nth-child(3)>div>a>img{
    left:150px;
}
.buttons:nth-child(4)>div>a>img{
    left:150px;
} */