@charset "utf-8";

.ex-1{
    width:400px; 
    margin:100px auto;
    padding:40px;
    border:1px solid #000;
    box-sizing:border-box;  
}
.ex- > h2{
    margin:0;
    font-size:32px;
}
.ex-1 > p{
    font-size:16px;
    line-height:180%;
    color:#555;
}
.ex-1 > a{}
.ex-1 > p > span{color:#f00;}
.ex-1 > a{
    border:1px solid #000;
    background-color:#ff0;
    padding:10px 30px;
    display:inline-block;
}

.ex-2{
    width:400px;
    margin:100px auto;
    padding:40px;
    border:1px solid #000;
    box-sizing:border-box;
}

.ex-2 > p > img{
width:50%;
}

/*다음주 월요일까지 ex-2완성해서 html,css,jpg 파일 보내기*/ 