@charset "utf-8";

html,
body {
    margin: 0;
}

h1,
h2,
p,
figure {
    margin: 0;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


/*header*/

header {
    padding: 40px;
}

header>div {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
header>div>h1>a{
    color:#000;
}

header>div>a {
    padding: 0 1vw;
    
}

a:hover{
    color:blueviolet;
}
header>div>nav {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

header > div > nav> a{
    display:inline-block;
    padding:0 20px;
    color:#000;
    
}

nav>a::after {
    content: '';
    display: block;
    border: 2px solid blueviolet;
    width: 0;
    margin:5px auto;
    transition:.5s;
    opacity:0 ;
}

header > div> nav>a:hover::after{
    width:100%;
    opacity:1 ;
}

/*main*/

main {
    position: relative;
}

main>div>img {
    width: 100%;
}

main>article {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
    background-color: #fff;
    padding: 70px;
    
}

article>figure>p>img {
    width: 100%;
}

main>article>h2 {
    margin-bottom: 20px;
    font-size: 30px;
}
main>article>figure>figcaption{
    text-align:center;
}

main>article>figure>figcaption>p {
    text-align: center;
    font-size: 10px;
    margin: 30px;
}

main>article>figure>figcaption>a {
    width: 150px;
    padding: 15px;
    font-size: 15px;
    color: #fff;
    background-color: black;
    text-align: center;
    justify-content: center;
    display: inline-block;
}

main:hover > article {
    bottom:100px;
    transition: 0.5s;
    opacity:1;
}

/*footer*/

footer {
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}