@charset "utf-8";

ul,li{
    list-style:none;
    padding:0;
    margin:0;
}
figure,p{margin:0;}
*{box-sizing:border-box;}

ul>li{
    justify-content:space-between;
}
.ex-1{
    width:1280px;
    margin:0;
}
.ex-1>li>figure{
    display:flex;
    width:50%
}
.ex-1> li > figure> p >img{
    width:500px;
}       

.ex-1 > li > figure > figcaption{
    padding:10px;;
}
.ex-1 > li > figure > figcaption > b{
    font-size:30px;
    width:100%;
}
.ex-1 > li > figure >figcaption >b::after{
    content:'';
    width:100%;
    position:absolute;
    left:0; top:0;
    display:inline-block; 
    margin:30px auto;
    border-bottom:2px solid #000;
    
}

.ex-1 > li >figure > figcaption> p{
    font-size:15px;
    line-height:25px;
}

.ex-1> li >figure > figcaption> a{
    font-size:20px;
}

.ex-1 >li> figure > figcaption> a >img{
    width:8px;
}

.ex-1>ul>li:nth-child(1)>figure{order:2;}
.ex-1>ul>li:nth-child(2)>div{order:2;}