@charset "utf-8";

html,body{
    margin:0;
}
body,h1,p,figure{
    margin:0;
}
*{box-sizing: border-box; color:white;}

/*header*/
header{
    width:80%;
    left:10%; top:0;
    position:fixed;
    z-index:2;
    
    display:flex;
    justify-content:space-between; 
}

header.trigger-menu{
    display: block;
    width: 30px;
}

header.trigger-menu>span{
    display: block;
    border-bottom:2px solid white;
    margin:3px 0;
}
header h1{
    font-size:50px;
    color:white;
    width:100px

}

header>div{
    font-size:20px;
    color:white;
}
.visual{
    position:relative;
}


.visual > img {

}

.visual .txt{
    position:absolute; left:50%; top:50%;
    transform:translate(-50%,-50%);
}
.visual .txt > strong{}
.visual .txt > a{}

.visual .scroll{
    background:url('./ic_mouse.png') no-repeat;
    width:80px; height:80px;
    position:absolute; left:50%; bottom:10%;
}