@charset "utf-8";

div{
    width:1400px;
    height:400px;
    
    margin:100px auto 100px auto;
    /* 상(12), 우(3), 하(6), 좌(9) */
    
    margin:50px 500px 50px;
    /* 상단(50), 좌,우,(500), 하(50) */
    /*위에 썼다고 하더라도 밑에서 새로운 값을쓰면 가장 밑에것으로 갱신된다.*/
    
    margin:200px auto;
    /*상,하(200), 좌/우(auto)*/
    /*위와 같은 방법을 가장 많이 쓴다.*/
    
    margin:auto;
    /*상,하,좌,우*/
    /*auto는 상,하 에는 안먹혀서 좌,우만 쓴다*/
    
    margin-top:100px;
    margin-right:auto;
    margin-bottom:100px;
    margin-left:auto;
    
    padding:40px;
    /* margin표기법은 동일하나 auto값 사용 안됨 */
    
    padding:40px;
    border:1px solid #000;
}