@charset "utf-8";

.center{
    text-align:center;
}

h2{font-size:50px;}

.box-1{
    width:600px;
    margin:100px auto;
}
.box-1 > div{
    border:1px solid #000;
    padding:40px;
}
.box-1 > div > p{ 
    margin:5px;
    background-color:yellow;
}
.box-1 > div > p:nth-of-type(2) {color:blue;}
.box-1 > div > p:nth-of-type(odd) {color:cornflowerblue;}
/*p:nth-child <-div 안 p태그로 되어있는 것들중 2번쨰 것을 선택하여 변경
ㄴ중간에 무언가 추가되거나 빠지면 순서가 바뀌니 조심!

[값]숫자뒤n을 넣으면 그숫자의 배수에 적용,even-짝수, odd-홀수 를 넣을 수 도 있다.
ex)
:nth-of-type(2){}
:nth-of-type(2n){}형제태그들 순은 0부터 시작x2

P:nth-of-type 형제 태그들중 n 번쟤에 해당하는 태그요소를 선택자로 지정
ㄴ중간에 무언가 삭제되거나 끼어져도 순서가 바뀌지 않는다!*/

.box-1 > div > p:first-of-type {color:blueviolet;}
.box-1 > div > p:last-of-type {color:aqua;}
/*p:first,last-of-type<-태그의 맨 처음과 마지막을 변경한다*/

.box-2{
    width:600px;
    margin:100px auto;
}
.box-2 > ul{}
.box-2 > ul > li{
    border-top:1px dashed #000;
    padding:10px 0;
}
.box-2 > ul > li:nth-of-type(1){
    font-size:16px;
}
.box-2 > ul > li:nth-of-type(2){
    color:#555;
}
.box-2 > ul > li:nth-of-type(3){
    line-height:2;
}
.box-2 > ul > li:nth-of-type(4){
    letter-spacing:20px;
}
.box-2 > ul > li:nth-of-type(5){
    font-family:'Franklin Gothic Medium' , 'Arial Narrow', Arial, sans-serif;
}
.box-2 > ul > li:nth-of-type(6){
    text-decoration: overline;
    /* underline , line-through, overline, none */
}
.box-2 > ul > li:nth-of-type(7){
    text-transform:capitalize;
    /* 대문자(uppercase), 소문자(lowercase), 첫문자만 대문자(capitalize)*/
}
.box-2 > ul > li:nth-of-type(8){}
/*모든 대상자들에게 명령을 내릴 수 도 안내릴 수 도 있지만 우선은 쫙 써두기*/

/*모바일*/
@media(max-width:768px) and (max-width:1023px){
/*get boo*/
}
/*desktop*/