@charset "utf-8";

*{padding:0; margin:0; box-sizing:border-box;}

article{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    margin-bottom: 40px;
}

.scale{
    width:400px;
    overflow: hidden;
}
.scale > img{
    width:100%;
    transition: 0.5S;
}
.scale:hover > img {
    transform:scale(1.2);
}

.rotate{
    width:400px;
    background-color: #ddd;
}

.rotate > img{
    width:100%;
    transition: 0.5s;
    transform-origin:0% 100%;
}

.rotate:hover > img{
    transform: rotate(45deg);
}

.rotate2{
    width:400px;
    background-color: #ddd;
}

.rotate2 >img{
    width:100%;
    transition: 0.5s;
}

.rotate2:hover >img{
    transform: perspective(300px) rotateY(180deg);
}

.rotate3{
    width:400px;
    background-color: #ddd;
}

.rotate3 >img{
    width:100%;
    transition: 1s;
    transform-origin: bottom;
}

.rotate3:hover >img{
    transform: perspective(300px) rotateX(45deg);
}
/*translate-이동*/

.translate{
    width:400px;
}

.translate > img{
    width:100%;
    transition: 0.5s;
}
.translate:hover > img{
    transform:translate(-5%, -5%);
    box-shadow:20px 20px 50px rgba(0,0,0,0.5);
}            /* X    Y   Blur   color */

/*가상 선택자는 cotent 가 없으면 안만들어짐*/

.skew{
    transform: perspective(600px) rotateX(400deg);
    transform-origin: center bottom;
    transition:0.5s;
    
}
.skew > p{
    width:400px;
    padding: 40px;
    font-size:30px;
    background-color: yellow;
    text-align: center;
    transition:0.5s;
}

.skew:hover{
    transform:rotateX(0deg);
}

.skew:hover::after {
    width:400px;
    height:70%;
    z-index: -1;
    background-color: rgba(0,0,0,0.5);
    content:"";
    transform:skew(-20deg );
    position:absolute;
    left:15px;
    bottom:0;
}

.ex-1{
    width:400px;
    height: 500px;
    display:flex;
    border:1px solid black;
}

.ex-1 > p{
    width:50%;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    opacity: 1;
}   
.ex-1:hover > p{
    transform:translate(-5%, -5%);
    
}   

.ex-1:hover > p:nth-child(1){
    transform:translate(-50%, 0%);
    width:100%;
    background-color: #ddd;
    opacity:0;
    
} 
.ex-1:hover > p:nth-child(2){
    transform:translate(50%, 0%);
    width:100%;
    background-color: #ddd;
    opacity:0;
} 





.ex-2{
    width:200px;
    height:120px;
    display:flex;
    margin:0;
    position:relative;
    
    
}

.ex-2 >span{
    position: absolute;
    left:0; top:0;
    width:100%; border-top:3px solid #000;
}
.ex-2 > span:nth-child(1){
    top:0%;
}
.ex-2 > span:nth-child(2){
    top:50%;
}
.ex-2 > span:nth-child(3){
    top:100%;
}

.ex-2:hover > span:nth-child(1){
    top:50%;
    transform:translateY(50%) rotate(45deg) ;
}
.ex-2:hover > span:nth-child(2){
    opacity:0%;

}
.ex-2:hover > span:nth-child(3){
    top:50%;
    transform:translateY(-50%) rotate(-45deg) ;
}

.ex-2 + .menu{
    padding:60px;
    width:100px;
    right:0; top:0;
    background-color:#000;
    position: fixed;
    transform:translate(100%);
    transition:0.5s;
}
.ex-2 + .menu a{color:#fff;
}

.ex2:hover + .menu{
    transform:translate(0%)
}



