@charset "utf-8";

/* basic.css */
article {}

        article>p {
            background-color: aqua;
            padding: 60px;
        }

        article>div {
            background-color: rgb(220, 235, 250);
            padding: 60px;
            margin: 30px 0;
        }