@charset "utf-8";

ul,li{
    list-style-type:none;
    margin:0;
    padding:0;
}
.ex-1{
    width:1360px;
    justify-content:space-between;
    margin:100px auto;
}

.ex-1 > h2{
    font-size:36px;
    color:#dc3545;
    text-align:center;
    vertical-align:middle;
    margin:100px 0 10px 0;
}

.ex-1 > p{
    font-size:18px;
    line-height:30px;
    color:#424D59;
    text-align:center;
    vertical-align:middle;
    padding:5px;
    margin-bottom:100px;
}
.flex-1 {
    display:flex;
    justify-content:space-between;
    }

.flex-1 > li {
    width:377px;
    margin:0px;
    opacity:0.5;
    background-color:#424D59;

}
.flex-1 >li >p{
    margin:0;
    padding:0;
}
.flex-1 > li> p >img{
    width:377px;
    opacity:0.7;
}

.flex-1 > li  > div {
    position:absolute;
    color:#ddd;
    background-color:#dc3545;
    font-size:40px;
    width:50px;
    height:50px;
    text-align:center;
    left:10; 
    top:336px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;
    opacity:0;
    
}


.flex-1 > li:hover {
    opacity:1;
    transition:0.5s;
}
.flex-1 > li:hover > p > img{
    opacity:1;
    transition:0.5s;
    background-color:#424D59;
}

.flex-1 > li:hover > div{
    opacity:1;
    transition:0.5s;
}
