@charset "utf-8";


body{margin:0;}
p,figure,h2{margin:0; }
/*작업 들어가기전 태그들의 기존값들을 지우고 정의*/
ul,li{list-style-type:none;margin:0; padding:0;}
*{
    box-sizing:border-box;
}
.n-e{
    width:100%;
    padding:100px 180px;
    box-sizing:border-box;
    text-align:center;
}
.n-e > h2{
    font-size:54px; color:#222;
}
.n-e > p{
    color:#555;
}

.n-e.content>ul{
    display:flex;
    justify-content:space-between;
}
.n-e.content>ul>li{width:32%;}
.n-e.content>ul>li>figure{
    position:relative;
    border-radius:10px;
    overflow:hidden;
}
.n-e.content>ul>li>figure>img{width:100%;}
.n-e.content>ul>li>figure>figcaption{
    background-color:#f00;
    position:absolute; left:0; top:0;
    width:80px;
    height:80px;
    overflow:hidden;

    display:flex;
    flex-direction:column;


}
.n-e .content >ul>li>div{}
.n-e .content >ul>li>div>b{}
.n-e .content >ul>li>div>p{}

.n-e.content.btn{}
.n-e.content.btn>a{
    background-color:#222;
}


